<html>
<head>
<title>shukan_hyouka</title>
<meta charset="utf-8">

</head>
<body>
    <h1>主観評価</h1>
    <li>音声の自然性の評価をお願いします．</li>
    <li>最初のページは，練習用です．ここで，適切な音声に調節をお願いします．</li>
    <li>練習は飛ばしてもらってもかまいません．（一番下の”次に進む”を押してください．）</li>
    <li>自然性の評価では，”非常に悪い”，”悪い”，”普通”，”良い”，”非常に良い”の5段階で評価をしてください．</li>

    <br>
    <br>
    <h3>練習</h3>
    <hr>
    <h1>1</h1>
    <figure>
        <audio controls src="media/1/face_wav42M__sx146/42M_from_50F_sx146.wav">
        
    </figure>

    <p>評価<br>
        <input type="radio" name="a" value=1> 非常に悪い
        <input type="radio" name="a" value=1> 悪い
        <input type="radio" name="s" value=3> 普通
        <input type="radio" name="s" value=4> 良い
        <input type="radio" name="d" value=5> 非常に良い
      </p>
    <br>
    <hr>

    <h1>2</h1>

    <figure>
        <audio controls src="media/1/onehot_wav51F__sx419/51F_from_50F_sx419.wav">
        
    </figure>

    <p>評価<br>
        <input type="radio" name="a" value=1> 非常に悪い
        <input type="radio" name="a" value=1> 悪い
        <input type="radio" name="s" value=3> 普通
        <input type="radio" name="s" value=4> 良い
        <input type="radio" name="d" value=5> 非常に良い
      </p>
    <br>
    <hr>

    <h1>3</h1>

    <figure>
        <audio controls src="media/1/onehot_wav47M__si1666/47M_from_42M_si1666.wav">
        
    </figure>

    <p>評価<br>
        <input type="radio" name="a" value=1> 非常に悪い
        <input type="radio" name="a" value=1> 悪い
        <input type="radio" name="s" value=3> 普通
        <input type="radio" name="s" value=4> 良い
        <input type="radio" name="d" value=5> 非常に良い
      </p>
    <br>
    <hr>



    <a href="/next">次に進む</a>
</body>
</html>